<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">AuthoApp</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['precios']">Precios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
          *ngIf="auth.isAuthenticated()"          
          [routerLink]="['protegida']">Protegida</a>
        </li>
      </ul>
      <span class="navbar-text">

          <button (click)="login()" 
          *ngIf="!auth.isAuthenticated()"
          type="button" class="btn btn-primary btn-sm">Ingresar</button>
          
          <button (click)="salir()" 
          *ngIf="auth.isAuthenticated()"
          type="button" class="btn btn-primary btn-sm">Salir</button>

      </span>
    </div>
  </nav>